@import '~node_modules/modern-normalize/modern-normalize.css';

html {
  box-sizing: border-box;
}

body {
  font-family: 'DM Sans', sans-serif;
  color: #907e82;
  background-color: #fff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.no-scroll {
  overflow: hidden;
}

.pre-title {
  @include fonts(18px, 400, 1.16, null);
  font-family: var(--title-ff);
  text-align: center;
  text-transform: uppercase;
  color: var(--title-secondary);
  margin-bottom: 16px;

  @include mq(tab) {
    @include fonts(26px, 400, 1.15, null);
  }
  @include mq(desc) {
    @include fonts(30px, 400, 1.1333, 0.04em);
  }
}

.title {
  @include fonts(34px, 400, 1.147, 0.04em);
  font-family: var(--title-ff);
  text-align: center;
  text-transform: uppercase;
  color: var(--title-main);
  @include mq(tab) {
    @include fonts(48px, 400, 1.145, 0.04em);
  }
  @include mq(desc) {
    @include fonts(58px, 400, 1.138, 0.06em);
  }
}
