:root {
  --backgroung-accent: #ffb8ca;
  --backgroung-main: #fff5f6;
  --background-secondary: #ffffff;
  --title-main: #d41443;
  --title-secondary: #ffa5ba;
  --coffee-color: #f0d1a5;
  --green-color: #c2e297;
  --review-color: #fafafa;
  --grey-text: #907e82;
  --icon-color: #fea5bb;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --card-item: 3;
  --card-gap: 32px;
  --title-ff: 'Titan One', sans-serif;
  --text-ff: 'DM Sans', sans-serif;
}
