<body>
  <section class="about">
    <label class="about__label" for="">tradition and love</label>
    <h2 class="about_title">how it’s made?</h2>
    <img
      class="about_imagecowmilk"
      src="../images/cowandmilk.png"
      alt="cow and milk"
      width="280"
    />
    <img
      class="about_imagemilk"
      src="../images/milk.png"
      alt="milk"
      width="280"
    />

    <div class="content">
      <p class="content__firstinfo">
        Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
        cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
        justo fringilla.
      </p>
      <p class="content__secondinfo">
        Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
        Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
        suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
        tincidunt. Aliquam erat volutpat. Aenean accumsan.
      </p>
      <button class="content__button" type="button">Read more</button>
    </div>

    <ul>
      <li>
        <svg>
          <use href="../images/group(1).svg#icon-Group-1"></use>
        </svg>
        <h3>721</h3>
        <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li>
        <svg>
          <use href="../images/group(1).svg#icon-Vector-1"></use>
        </svg>
        <h3>16KG</h3>
        <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li>
        <svg>
          <use href="../images/group(1).svg#icon-Group-5-1"></use>
        </svg>
        <h3>84</h3>
        <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </section>
</body>
