<section class="section contacts">
  <div class="container">
    <h2 class="visually-hidden">
      addresses of the company's representative offices.
    </h2>
    <ul class="card__list card-set">
      <li class="card-set-item card__item">
        <p class="category__name">CAFE</p>
        <div class="card__content">
          <p class="card__city">Chicago</p>
          <p class="card__text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <ul class="schedule-list">
          <li class="schedule__item">
            <p class="schedule--day">Monday - Friday</p>
            <p class="schedule--time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="schedule__item">
            <p class="schedule--day">Saturday - Sunday</p>
            <p class="schedule--time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <div class="card__contact">
          <a class="card__link" href="tel:+610383766284">+61(0) 383 766 284 </a>
          <a class="card__link" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </div>
      </li>
      <li class="card-set-item card__item">
        <p class="category__name">FOODTRUCK</p>
        <div class="card__content">
          <p class="card__city">Los Angeles</p>
          <p class="card__text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <ul class="schedule-list">
          <li class="schedule__item">
            <p class="schedule--day">Monday - Friday</p>
            <p class="schedule--time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="schedule__item">
            <p class="schedule--day">Saturday - Sunday</p>
            <p class="schedule--time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <div class="card__contact">
          <a class="card__link" href="tel:+610383766284">+61(0) 383 766 284 </a>
          <a class="card__link" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </div>
      </li>
      <li class="card-set-item card__item">
        <p class="category__name">CAFE</p>
        <div class="card__content">
          <p class="card__city">New York</p>
          <p class="card__text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <ul class="schedule-list">
          <li class="schedule__item">
            <p class="schedule--day">Monday - Friday</p>
            <p class="schedule--time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="schedule__item">
            <p class="schedule--day">Saturday - Sunday</p>
            <p class="schedule--time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <div class="card__contact">
          <a class="card__link" href="tel:+610383766284">+61(0) 383 766 284 </a>
          <a class="card__link" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </div>
      </li>
    </ul>
  </div>
</section>
