<section class="custrev section">
  <div class="custrev__box container">
    <!-- Swiper -->
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img
            src="./images/cust-revi/client-one.jpg"
            alt="girl"
            class="custrev__client"
            width="85"
          />
          <div class="custrev__wrapper">
            <p class="custrev__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <img
            src="./images/cust-revi/client-one.jpg"
            alt="girl"
            class="custrev__client"
          />
          <div class="custrev__wrapper">
            <p class="custrev__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <img
            src="./images/cust-revi/client-one.jpg"
            alt="girl"
            class="custrev__client"
          />
          <div class="custrev__wrapper">
            <p class="custrev__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
          </div>
        </div>
        <div class="swiper-slide">Slide 4</div>
        <div class="swiper-slide">Slide 5</div>
        <div class="swiper-slide">Slide 6</div>
        <div class="swiper-slide">Slide 7</div>
        <div class="swiper-slide">Slide 8</div>
        <div class="swiper-slide">Slide 9</div>
      </div>
      <div class="swiper-pagination"></div>
    </div>

    <!-- <div class="custrev__slider"> -->
    <p class="custrev__slider-text">Emily, Los Angeles</p>
    <!-- </div> -->
  </div>
</section>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
  var swiper = new Swiper('.mySwiper', {
    pagination: {
      el: '.swiper-pagination',
      dynamicBullets: true,
    },
  });
</script>
