<section class="gallery section">
  <div class="container">
    <div class="grid">
      <div class="grid__item pic1">
        <picture>
          <source
            srcset="
              ./images/gallery/desk/desk-gallery1.png    1x,
              ./images/gallery/desk/desk-gallery1@2x.png 2x
            "
            media="(min-width:1200px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/gallery/tab/tab-gallery1.png    1x,
              ./images/gallery/tab/tab-gallery1@2x.png 2x
            "
            media="(min-width:768px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/gallery/mob/mob-gallery1.png    1x,
              ./images/gallery/mob/mob-gallery1@2x.png 2x
            "
            media="(max-width:767px)"
            type="image/jpeg"
          />
          <img
            src="./images/gallery/mob/mob-gallery1@2x.png"
            alt="products gallery item"
            class="grid__img"
            width="88"
          />
        </picture>
      </div>
      <div class="grid__item pic2">
        <picture>
          <source
            srcset="
              ./images/gallery/desk/desk-gallery2.png    1x,
              ./images/gallery/desk/desk-gallery2@2x.png 2x
            "
            media="(min-width:1200px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/gallery/tab/tab-gallery2.png    1x,
              ./images/gallery/tab/tab-gallery2@2x.png 2x
            "
            media="(min-width:768px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/gallery/mob/mob-gallery2.png    1x,
              ./images/gallery/mob/mob-gallery2@2x.png 2x
            "
            media="(max-width:767px)"
            type="image/jpeg"
          />
          <img
            src="./images/gallery/mob/mob-gallery2@2x.png"
            alt="products gallery item"
            class="grid__img"
            width="88"
          />
        </picture>
      </div>
      <div class="grid__item pic3">
        <picture>
          <source
            srcset="
              ./images/gallery/desk/desk-gallery3.png    1x,
              ./images/gallery/desk/desk-gallery3@2x.png 2x
            "
            media="(min-width:1200px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/gallery/tab/tab-gallery3.png    1x,
              ./images/gallery/tab/tab-gallery3@2x.png 2x
            "
            media="(min-width:768px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/gallery/mob/mob-gallery3.png    1x,
              ./images/gallery/mob/mob-gallery3@2x.png 2x
            "
            media="(max-width:767px)"
            type="image/jpeg"
          />
          <img
            src="./images/gallery/mob/mob-gallery3@2x.png"
            alt="products gallery item"
            class="grid__img"
            width="88"
          />
        </picture>
      </div>
      <div class="grid__item pic4">
        <picture>
          <source
            srcset="
              ./images/gallery/desk/desk-gallery4.png    1x,
              ./images/gallery/desk/desk-gallery4@2x.png 2x
            "
            media="(min-width:1200px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/gallery/tab/tab-gallery4.png    1x,
              ./images/gallery/tab/tab-gallery4@2x.png 2x
            "
            media="(min-width:768px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/gallery/mob/mob-gallery4.png    1x,
              ./images/gallery/mob/mob-gallery4@2x.png 2x
            "
            media="(max-width:767px)"
            type="image/jpeg"
          />
          <img
            src="./images/gallery/mob/mob-gallery4@2x.png"
            alt="products gallery item"
            class="grid__img"
            width="88"
          />
        </picture>
      </div>
      <div class="grid__item pic5">
        <picture>
          <source
            srcset="
              ./images/gallery/desk/desk-gallery5.png    1x,
              ./images/gallery/desk/desk-gallery5@2x.png 2x
            "
            media="(min-width:1200px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/gallery/tab/tab-gallery5.png    1x,
              ./images/gallery/tab/tab-gallery5@2x.png 2x
            "
            media="(min-width:768px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/gallery/mob/mob-gallery5.png    1x,
              ./images/gallery/mob/mob-gallery5@2x.png 2x
            "
            media="(max-width:767px)"
            type="image/jpeg"
          />
          <img
            src="./images/gallery/mob/mob-gallery5@2x.png"
            alt="products gallery item"
            class="grid__img"
            width="88"
          />
        </picture>
      </div>
      <div class="grid__item pic6">
        <picture>
          <source
            srcset="
              ./images/gallery/desk/desk-gallery6.png    1x,
              ./images/gallery/desk/desk-gallery6@2x.png 2x
            "
            media="(min-width:1200px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/gallery/tab/tab-gallery6.png    1x,
              ./images/gallery/tab/tab-gallery6@2x.png 2x
            "
            media="(min-width:768px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/gallery/mob/mob-gallery6.png    1x,
              ./images/gallery/mob/mob-gallery6@2x.png 2x
            "
            media="(max-width:767px)"
            type="image/jpeg"
          />
          <img
            src="./images/gallery/mob/mob-gallery6@2x.png"
            alt="products gallery item"
            class="grid__img"
            width="88"
          />
        </picture>
      </div>
      <div class="grid__item pic7">
        <picture>
          <source
            srcset="
              ./images/gallery/desk/desk-gallery7.png    1x,
              ./images/gallery/desk/desk-gallery7@2x.png 2x
            "
            media="(min-width:1200px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/gallery/tab/tab-gallery7.png    1x,
              ./images/gallery/tab/tab-gallery7@2x.png 2x
            "
            media="(min-width:768px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/gallery/mob/mob-gallery7.png    1x,
              ./images/gallery/mob/mob-gallery7@2x.png 2x
            "
            media="(max-width:767px)"
            type="image/jpeg"
          />
          <img
            src="./images/gallery/mob/mob-gallery7@2x.png"
            alt="products gallery item"
            class="grid__img"
            width="88"
          />
        </picture>
      </div>
      <div class="grid__item pic8">
        <picture>
          <source
            srcset="
              ./images/gallery/desk/desk-gallery8.png    1x,
              ./images/gallery/desk/desk-gallery8@2x.png 2x
            "
            media="(min-width:1200px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/gallery/tab/tab-gallery8.png    1x,
              ./images/gallery/tab/tab-gallery8@2x.png 2x
            "
            media="(min-width:768px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/gallery/mob/mob-gallery8.png    1x,
              ./images/gallery/mob/mob-gallery8@2x.png 2x
            "
            media="(max-width:767px)"
            type="image/jpeg"
          />
          <img
            src="./images/gallery/mob/mob-gallery8@2x.png"
            alt="products gallery item"
            class="grid__img"
            width="88"
          />
        </picture>
      </div>
      <div class="grid__item pic9">
        <picture>
          <source
            srcset="
              ./images/gallery/desk/desk-gallery9.png    1x,
              ./images/gallery/desk/desk-gallery9@2x.png 2x
            "
            media="(min-width:1200px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/gallery/tab/tab-gallery9.png    1x,
              ./images/gallery/tab/tab-gallery9@2x.png 2x
            "
            media="(min-width:768px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/gallery/mob/mob-gallery9.png    1x,
              ./images/gallery/mob/mob-gallery9@2x.png 2x
            "
            media="(max-width:767px)"
            type="image/jpeg"
          />
          <img
            src="./images/gallery/mob/mob-gallery9@2x.png"
            alt="products gallery item"
            class="grid__img"
            width="88"
          />
        </picture>
      </div>
      <div class="grid__item pic10">
        <picture>
          <source
            srcset="
              ./images/gallery/desk/desk-gallery10.png    1x,
              ./images/gallery/desk/desk-gallery10@2x.png 2x
            "
            media="(min-width:1200px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/gallery/tab/tab-gallery10.png    1x,
              ./images/gallery/tab/tab-gallery10@2x.png 2x
            "
            media="(min-width:768px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/gallery/mob/mob-gallery10.png    1x,
              ./images/gallery/mob/mob-gallery10@2x.png 2x
            "
            media="(max-width:767px)"
            type="image/jpeg"
          />
          <img
            src="./images/gallery/mob/mob-gallery10@2x.png"
            alt="products gallery item"
            class="grid__img"
            width="88"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
