<section class="hero">
  <div class="container hero-content">
    <div class="hero__container">
      <div class="hero_container_info">
        <ul class="hero__list_number">
          <li class="hero__item_number">
            <div class="hero__round_cafes"></div>
            <p class="hero__text_number-16">16</p>
            <p class="hero__text_cafes">cafes</p>
          </li>
          <li class="hero__item_number">
            <div class="hero__round_food"></div>
            <p class="hero__text_number-23">23</p>
            <p class="hero__text_food">food trucks</p>
          </li>
        </ul>
      </div>
      <div class="hero__container_title">
        <h1 class="hero__title">
          ice cream made with <span class="hero__title_red">passion</span>
        </h1>
        <ul class="hero__list_button">
          <li class="hero__item_button">
            <form action="#products">
              <button class="hero__button_products">Products</button>
            </form>
          </li>
          <li class="hero__item_button">
            <form action="#about">
              <button class="hero__button_made">How it’s made?</button>
            </form>
          </li>
        </ul>
      </div>
    </div>
    <div class="hero__round"></div>
    <picture>
      <source
        srcset="
          ./images/hero/png/mob/icecream.png    1x,
          ./images/hero/png/mob/icecream@2x.png 2x,
          ./images/hero/png/mob/icecream@3x.png 3x
        "
        media="(max-width: 767px)"
        type="image/png"
      />
      <source
        srcset="
          ./images/hero/png/tablet/icecream.png    1x,
          ./images/hero/png/tablet/icecream@2x.png 2x,
          ./images/hero/png/tablet/icecream@3x.png 3x
        "
        media="(min-width: 768px) and (max-width: 1200px)"
        type="image/png"
      />
      <source
        srcset="
          ./images/hero/png/desctop/icecream.png    1x,
          ./images/hero/png/desctop/icecream@2x.png 2x,
          ./images/hero/png/desctop/icecream@3x.png 3x
        "
        media="(min-width: 1200px)"
        type="image/png"
      />
      <img
        class="hero__img"
        src="./images/hero/png/mob/icecream.png"
        alt="ice"
      />
    </picture>
    <div class="hero_container_milk">
      <picture>
        <source
          srcset="
            ./images/hero/png/tablet/milk.png    1x,
            ./images/hero/png/tablet/milk@2x.png 2x,
            ./images/hero/png/tablet/milk@3x.png 3x
          "
          media="(min-width: 768px) and (max-width: 1200px)"
          type="image/png"
        />
        <source
          srcset="
            ./images/hero/png/desctop/milk.png    1x,
            ./images/hero/png/desctop/milk@2x.png 2x,
            ./images/hero/png/desctop/milk@3x.png 3x
          "
          media="(min-width: 1200px)"
          type="image/png"
        />
        <img
          class="hero__img_milk"
          src="./images/hero/png/tablet/milk.png"
          alt="milk"
        />
      </picture>
      <div class="hero_container-text">
        <p class="hero__text">
          Lorem ipsum dolor sit amet,<br />
          consectetur adipiscing elit,<br />
          sed do eiusmod tempor <br />
          incididunt ut labore et
        </p>
        <button class="hero__button_arrow">
          <img src="./images/arrow-right.png" alt="..." />
        </button>
      </div>
    </div>
    <picture>
      <source
        srcset="
          ./images/hero/png/tablet/tasty.png    1x,
          ./images/hero/png/tablet/tasty@2x.png 2x,
          ./images/hero/png/tablet/tasty@3x.png 3x
        "
        media="(min-width: 768px) and (max-width: 1200px)"
        type="image/png"
      />
      <source
        srcset="
          ./images/hero/png/desctop/tasty.png    1x,
          ./images/hero/png/desctop/tasty@2x.png 2x,
          ./images/hero/png/desctop/tasty@3x.png 3x
        "
        media="(min-width: 1200px)"
        type="image/png"
      />
      <img
        class="hero__img_tasty"
        src="./images/hero/png/tablet/tasty.png"
        alt="tasty"
      />
    </picture>
  </div>
</section>
