<section class="hero">
  <div class="container hero-content">
    <div class="hero__container">
      <div class="hero_container_info">
        <ul class="hero__list_number">
          <li class="hero__item_number">
            <div class="hero__round_cafes"></div>
            <p class="hero__text_number">16</p>
            <p class="hero__text_cafes">cafes</p>
          </li>
          <li class="hero__item_number">
            <div class="hero__round_food"></div>
            <p class="hero__text_number">23</p>
            <p class="hero__text_food">food trucks</p>
          </li>
        </ul>
      </div>
      <div class="hero__container_title">
        <h1 class="hero__title">
          ice cream made with <span class="hero__title_red">passion</span>
        </h1>
        <ul class="hero__list_button">
          <li class="hero__item_button">
            <a class="link hero__button_products" href="#products">Products</a>
          </li>
          <li class="hero__item_button">
            <a class="link link hero__button_made" href="#about"
              >How it’s made?</a
            >
          </li>
        </ul>
      </div>
    </div>
    <picture>
      <source
        srcset="
          ./images/hero/mob/icecream.webp    1x,
          ./images/hero/mob/icecream@2x.webp 2x
        "
        media="(max-width: 767px)"
        type="image/webp"
      />
      <source
        srcset="
          ./images/hero/tablet/icecream.webp    1x,
          ./images/hero/tablet/icecream@2x.webp 2x
        "
        media="(min-width: 768px) and (max-width: 1200px)"
        type="image/webp"
      />
      <source
        srcset="
          ./images/hero/desctop/icecream.webp    1x,
          ./images/hero/desctop/icecream@2x.webp 2x
        "
        media="(min-width: 1200px)"
        type="image/webp"
      />
      <img class="hero__img" src="./images/hero/mob/icecream.webp" alt="ice" />
    </picture>

    <div class="hero_container_milk">
      <picture>
        <source
          srcset="
            ./images/hero/tablet/milk.webp    1x,
            ./images/hero/tablet/milk@2x.webp 2x
          "
          media="(min-width: 768px) and (max-width: 1200px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/hero/desctop/milk.webp    1x,
            ./images/hero/desctop/milk@2x.webp 2x
          "
          media="(min-width: 1200px)"
          type="image/webp"
        />
        <img
          class="hero__img_milk"
          src="./images/hero/tablet/milk.webp"
          alt="milk"
        />
      </picture>
      <div class="hero_container-text">
        <p class="hero__text">
          Lorem ipsum dolor sit amet,<br />
          consectetur adipiscing elit,<br />
          sed do eiusmod tempor <br />
          incididunt ut labore et
        </p>
        <button class="hero__button_arrow">
          <img src="./images/arrow-right.png" alt="..." />
        </button>
      </div>
    </div>
    <picture>
      <source
        srcset="
          ./images/hero/tablet/tasty.webp    1x,
          ./images/hero/tablet/tasty@2x.webp 2x
        "
        media="(min-width: 768px) and (max-width: 1200px)"
        type="image/webp"
      />
      <source
        srcset="
          ./images/hero/desctop/tasty.webp    1x,
          ./images/hero/desctop/tasty@2x.webp 2x
        "
        media="(min-width: 1200px)"
        type="image/webp"
      />
      <img
        class="hero__img_tasty"
        src="./images/hero/tablet/tasty.webp"
        alt="tasty"
      />
    </picture>
  </div>
</section>
