<section class="section products">
  <div class="container">
    <p class="products__pre-title">100% Natural</p>
    <h2 class="products__title">Products</h2>
    <ul class="products__list card-set">
      <li class="products__item card-set-item">
        <h3 class="products__name">Ice cream</h3>
        <p class="products__text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus illum
          exercitationem vero quisquam voluptate amet, voluptas soluta modi
          vitae officiis.
        </p>
        <a class="products__link" href=""
          ><img src="./images/arrow-right.png" alt="product details"
        /></a>
      </li>
      <li class="products__item card-set-item">
        <h3 class="products__name">Ice Coffee</h3>
        <p class="products__text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus illum
          exercitationem vero quisquam voluptate amet, voluptas soluta modi
          vitae officiis.
        </p>
        <a class="products__link" href="">
          <img src="./images/arrow-right.png" alt="product details" />
        </a>
      </li>
      <li class="products__item card-set-item">
        <h3 class="products__name">Milkshakes</h3>
        <p class="products__text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus illum
          exercitationem vero quisquam voluptate amet, voluptas soluta modi
          vitae officiis.
        </p>
        <a class="products__link" href=""
          ><img src="./images/arrow-right.png" alt="product details"
        /></a>
      </li>
    </ul>
  </div>
</section>
