<section class="section products">
  <div class="container">
    <p class="products__pre-title">100% Natural</p>
    <h2 class="products__title">Products</h2>
    <ul class="products__list card-set">
      <li class="products__item card-set-item">
        <!-- <picture class="products__picture">
          <source
            srcset="
              ./images/desk-milkshake-368.png    1x,
              ./images/desk-milkshake-736@2x.png 2x
            "
            media="(min-width:1200px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/tab-milkshake-224.png    1x,
              ./images/tab-milkshake-448@2x.png 2x
            "
            media="(min-width:768px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/mob-milkshake-280.png    1x,
              ./images/mob-milkshake-560@2x.png 2x
            "
            media="(max-width:767px)"
            type="image/jpeg"
          />
          <img src="./images/desk-milkshake-736@2x.png" alt="ice cream" />
        </picture> -->
        <h3 class="products__name">Ice cream</h3>
        <p class="products__text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus illum
          exercitationem vero quisquam voluptate amet, voluptas soluta modi
          vitae officiis.
        </p>
        <a class="products__link" href=""
          ><img src="./images/products/arrow-right.png" alt="product details"
        /></a>
      </li>
      <li class="products__item card-set-item">
        <!-- <picture class="products__picture">
          <source
            srcset="
              ./images/desk-coffee-368.png    1x,
              ./images/desk-coffee-736@2x.png 2x
            "
            media="(min-width:1200px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/tab-coffee-224.png    1x,
              ./images/tab-coffee-448@2x.png 2x
            "
            media="(min-width:768px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/mob-coffee-280.png    1x,
              ./images/mob-coffee-560@2x.png 2x
            "
            media="(max-width:767px)"
            type="image/jpeg"
          />
          <img src="./images/desk-coffee-736@2x.png" alt="ice coffee" />
        </picture> -->
        <h3 class="products__name">Ice Coffee</h3>
        <p class="products__text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus illum
          exercitationem vero quisquam voluptate amet, voluptas soluta modi
          vitae officiis.
        </p>
        <a class="products__link" href="">
          <img src="./images/products/arrow-right.png" alt="product details" />
        </a>
      </li>
      <li class="products__item card-set-item">
        <!-- <picture class="products__picture">
          <source
            srcset="
              ./images/desk-choco-368.png    1x,
              ./images/desk-choco-736@2x.png 2x
            "
            media="(min-width:1200px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/tab-choco-224.png    1x,
              ./images/tab-choco-448@2x.png 2x
            "
            media="(min-width:768px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/mob-choco-280.png    1x,
              ./images/mob-choco-560@2x.png 2x
            "
            media="(max-width:767px)"
            type="image/jpeg"
          />
          <img src="./images/desk-choco-736@2x.png" alt="chocolate milkshake" />
        </picture> -->
        <h3 class="products__name">Milkshakes</h3>
        <p class="products__text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus illum
          exercitationem vero quisquam voluptate amet, voluptas soluta modi
          vitae officiis.
        </p>
        <a class="products__link" href=""
          ><img src="./images/products/arrow-right.png" alt="product details"
        /></a>
      </li>
    </ul>
  </div>
</section>
