.about {
  background-color: var(--background-main);
  @include mq(desc) {
    background-image: url(../images/about/milkdesctop.png);
    background-repeat: no-repeat;
    background-position: 0 236px;
    background-size: 100%;
    @include mq(retina) {
      background-image: url(../images/about/milkdesctop2x.png);
      background-repeat: no-repeat;
      background-position: 0 236px;
      background-size: 100%;
    }
  }
  @include mq(mob-only) {
    bottom: 175px;
    background-image: url(../images/about/milk.png);
    background-repeat: no-repeat;
    background-position: 0 73px;
    @include mq(retina) {
      background-image: url(../images/about/milk2x.png);
      background-size: 100%;
    }
  }
}

.about.container {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  @include mq(tab) {
    padding: 0 33px;
  }
  @include mq(desc) {
    padding: 0 16px;
  }
}

.title {
  margin-bottom: 32px;
  @include mq(tab) {
    margin-bottom: 40px;
  }
  @include mq(desc) {
    margin-bottom: 60px;
  }
}

.content {
  font-weight: 500;
  @include fonts(12px, null, 1.62, null);

  @include mq(tab) {
    @include fonts(14px, null, 1.76, 0.04em);
  }
  @include mq(desc) {
    @include fonts(14px, null, 1.94, 0.04em);
  }
}

.about__wrapper {
  @include mq(tab) {
    display: flex;
  }
  @include mq(desc) {
    align-items: center;
  }
}

.content__button {
  background-color: var(--background-secondary);
  padding: 0;

  font-family: inherit;
  text-align: center;

  color: var(--title-main);
  border: none;
  cursor: pointer;

  min-width: 176px;
  height: 44px;

  border-radius: 22px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  transition: color var(--transition), background-color var(--transition);

  @include mq(tab-only) {
    display: block;
  }

  @include mq(desc) {
    display: block;
    min-width: 176px;
  }
  &:hover,
  &:focus {
    background-color: #ecebeb;
  }
}

.about_imagecowmilk {
  max-width: 280px;
  @include mq(tab) {
    max-width: 336px;
  }
  @include mq(desc) {
    max-width: 501px;
  }
}

.text-black {
  color: #000;
}

.content__wrap {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 220px;
  @include mq(tab) {
    max-width: 335px;
  }
  @include mq(desc) {
    max-width: 463px;
  }
}

.cowmilk {
  display: block;
  @include mq(mob-only) {
    margin-bottom: 40px;
  }
  @include mq(tab) {
    margin-right: 32px;
  }
  @include mq(desc) {
    margin-right: 99px;
  }
}
