.custrev {
  padding: 15px;
}
.custrev__client {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 28px;
}
.custrev__box {
  position: absolute;
  height: 308px;
  left: 20px;
  right: 20px;
  padding-left: 46px;
  padding-right: 54px;
  background-color: #fafafa;
}
.custrev__text {
  @include fonts(12px, 500, 2.6, null);
  width: 157px;
  height: 239px;
  text-align: center;
  color: #000000;
  background-image: -webkit-repeating-linear-gradient(
    top,
    transparent 0px,
    transparent 19px,
    #e1e1e1 1px,
    transparent 20px
  );
  &::before {
    content: url(../images/cust-revi/quote.png);
  }
}
.custrev__slider {
  margin-top: 16px;
  left: 74pxpx;
  right: 74px;
}
.custrev__slider-text {
  @include fonts(14px, 500, 1.8, null);
  text-align: center;
  color: #000000;
}

// p {
//   font: 12px/20px Arial;

//   background-image: -webkit-repeating-linear-gradient(
//     top,
//     transparent 0px,
//     transparent 19px,
//     #000 19px,
//     transparent 20px
//   );
// }

// .customer-reviews {
//   background-color: #fff;
// }
// .customer-reviews__text {
//   @include fonts(12px, 500, 2.6, null);

//   // padding-top: 43px;
//   // padding-bottom: 26px;
//   // padding-right: 58px;
//   // padding-left: 65px;
//   // display: flex;
//   text-align: center;
//   color: #000000;
//   background-image: repeating-linear-gradient(#000, #e1e1e1);

// &::before {
//   content: '\275E';
//   width: 54px;
//   height: 40px;
//   left: 127px;
//   top: 4509px;
//   fill: #e1e1e1;
// }
// }
