.hero {
    display: block;
    position: relative;
    background: var(--background-accent);
    height: 502px;
    overflow: hidden;

    z-index: 1;

    @include mq(tab-only) {
        max-height: 416px;
    }

    @include mq(desc) {
        height: 665px;
    }
}

.hero-content {
    position: relative;

    @include mq(tab-only) {
        padding-left: 32px;
        padding-right: 32px;
    }

}

.hero__container {
    @include mq(mob-only) {
        outline: none;
        max-width: 320px;
    }

    @include mq(tab) {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        padding-top: 102px;
        margin-bottom: 20px;
    }

    @include mq(desc) {
        padding-top: 147px;
        margin-bottom: 40px;
    }

}

.hero__img {
    position: absolute;
    left: 117px;
    top: 92px;
    z-index: -1;
    max-width: 100%;

    @include mq(tab-only) {
        left: 322px;
        top: 80px;
    }

    @include mq(desc) {
        left: 650px;
        top: 108px;
    }
}

.hero__img_tasty {
    display: none;

    @include mq(tab-only) {
        display: block;
        position: absolute;
        left: 546px;
        bottom: -15px;
    }

    @include mq(desc) {
        display: block;
        position: absolute;
        right: 15px;
        bottom: -60px;
    }
}

.hero__item_button:first-child {
    margin-right: 8px;
}

.hero__title {
    font-family: Titan One;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 1;
    letter-spacing: 0.04em;
    color: var(--background-secondary);
    width: 218px;
    max-width: 100%;
    height: 106px;
    padding-top: 193px;
    text-transform: uppercase;
    margin-bottom: 20px;

    @include mq(tab-only) {
        padding-top: 0;
        font-size: 22px;
        line-height: 1.14;
        width: 162px;
        height: 80px;
        margin-bottom: 20px;
    }

    @include mq(desc) {
        padding-top: 0;
        font-size: 38px;
        line-height: 1.16;
        width: 277px;
        height: 137px;
        margin-bottom: 24px;
    }
}

.hero__title_red {
    color: var(--title-main);
    text-transform: uppercase;
    font-size: 48px;

    @include mq(tab-only) {
        font-size: 34px;
        line-height: 0.9;
    }

    @include mq(desc) {
        font-size: 58px;
        line-height: 0.9;
    }
}

.hero__list_button {
    display: flex;

    @include mq(mob-only) {
        margin-top: 125px;
    }
}


.hero_container_milk {
    display: flex;
    margin-left: 0;
    margin-right: auto;

    @include mq(desc) {
        max-height: 216px;
    }
}

.hero__img_milk {
    display: none;

    @include mq(tab-only) {
        display: block;
    }

    @include mq(desc) {
        display: block;
    }
}

.hero_container-text {
    margin-left: 0;
    display: block;
    margin-top: 68px;

    @include mq(tab-only) {
        margin-top: 41px;
    }
}

.hero__round {
    display: flex;
    width: 346px;
    height: 344px;
    background-color: var(--title-secondary);
    border-radius: 50%;
    position: absolute;
    left: 36px;
    top: 83px;
    z-index: -1;

    @include mq(tab) {
        width: 335px;
        height: 333px;
        left: 248px;
        top: 43px;
    }

    @include mq(desc) {
        width: 534px;
        height: 534px;
        left: 531px;
        top: 52px;
    }
}

.hero__text {
    display: none;

    @include mq(tab-only) {
        display: block;
        font-family: DM Sans;
        font-style: normal;
        font-weight: 400;
        font-size: 8px;
        line-height: 1.5;
        color: var(--background-secondary);
    }

    @include mq(desc) {
        display: block;

        margin-top: auto;
        margin-bottom: auto;
        margin-left: 0;
        position: absolute;
        line-height: 1.42;
        color: var(--background-secondary);
        font-size: 14px;
    }
}

.hero__list_number {
    display: none;

    @include mq(tab) {
        display: block;
        position: relative;
    }

    @include mq(desc) {
        padding-top: 5px;
    }
}

.hero__item_number:first-child {

    @include mq(tab) {
        margin-bottom: 13px;
    }

    @include mq(desc) {
        margin-bottom: 15px;
    }
}

.hero__round_cafes,
.hero__round_food {
    @include mq(tab) {
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        left: 50%;
        background-color: var(--background-secondary);
        z-index: -1;
    }

    @include mq(desc) {
        width: 30px;
        height: 30px;
    }
}

.hero__text_number-16,
.hero__text_number-23 {
    @include mq(tab) {
        font-family: Titan One;
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 1.14;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: var(--title-main);
    }

    @include mq(desc) {
        font-size: 46px;
    }
}

.hero__text_cafes,
.hero__text_food {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;
    color: var(--background-secondary);

    @include mq(desc) {
        font-size: 14px;
    }
}

.hero__button_products {
    background-color: var(--title-main);
    padding: 0;
    font-family: inherit;
    text-align: center;
    color: var(--background-secondary);
    border: none;
    cursor: pointer;
    width: 62px;
    height: 24px;
    border-radius: 20px;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.31;

    @include mq(desc) {
        width: 107px;
        height: 40px;
        border-radius: 20px;
        font-size: 14px;
        line-height: 1.29;
    }

    transition: color var(--transition),
    background-color var(--transition);

}

.hero__button_products:hover,
.hero__button_products:focus {
    background-color: var(--background-secondary);
    color: var(--title-main);
}

.hero__button_made {
    background-color: var(--background-secondary);
    padding: 0;
    font-family: inherit;
    text-align: center;
    color: var(--title-main);
    border: none;
    cursor: pointer;
    width: 83px;
    height: 24px;
    border-radius: 20px;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.31;

    @include mq(desc) {
        width: 138px;
        height: 40px;
        border-radius: 20px;
        font-size: 14px;
        line-height: 1.29;
    }

    transition: color var(--transition),
    background-color var(--transition);
}

.hero__button_arrow {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: var(--background-secondary);
    border: none;
    color: var(--title-main);
    fill: var(--title-main);
    cursor: pointer;

    transition: color var(--transition),
        background-color var(--transition), fill var(--transition);
}



.hero__button_arrow {
    display: none;

    @include mq(tab-only) {
        display: block;
        position: absolute;
        margin-left: 0;
        left: 184px;
        top: 342px;
        width: 18px;
        height: 18px;
    }

    @include mq(desc) {
        display: block;
        margin-top: 98px;
        margin-left: 0;
    }
}


.hero__button_made:hover,
.hero__button_made:focus {
    background-color: var(--title-main);
    color: var(--background-secondary);
    fill: var(--background-secondary);
}

.hero__button_arrow:hover,
.hero__button_arrow:focus {
    transform: rotateZ(90deg);
}